<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>911931773011-5v41gsoj2e9q0c2fn4d1vpma9a37b4k1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.911931773011-5v41gsoj2e9q0c2fn4d1vpma9a37b4k1</string>
	<key>API_KEY</key>
	<string>AIzaSyABCQbzw8m3VqCNqncQle5sVh3hyoKoL8Q</string>
	<key>GCM_SENDER_ID</key>
	<string>911931773011</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>atlas.MyAlbums</string>
	<key>PROJECT_ID</key>
	<string>myalbums-5bbbd</string>
	<key>STORAGE_BUCKET</key>
	<string>myalbums-5bbbd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:911931773011:ios:32ef058f2ae1c64c96b6a6</string>
	<key>DATABASE_URL</key>
	<string>https://myalbums-5bbbd.firebaseio.com</string>
</dict>
</plist>