<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>championships</key>
		<array>
			<string>1991</string>
			<string>1992</string>
			<string>1993</string>
			<string>1996</string>
			<string>1997</string>
			<string>1998</string>
		</array>
		<key>name</key>
		<string>Michael Jordan</string>
	</dict>
	<dict>
		<key>championships</key>
		<array>
			<string>2000</string>
			<string>2001</string>
			<string>2002</string>
			<string>2009</string>
			<string>2010</string>
		</array>
		<key>name</key>
		<string>Kobe Bryant</string>
	</dict>
	<dict>
		<key>championships</key>
		<array>
			<string>2012</string>
			<string>2013</string>
			<string>2016</string>
		</array>
		<key>name</key>
		<string>Lebron James</string>
	</dict>
</array>
</plist>
